// Container & Breakpoints
@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$containerWidth: 1440;
$containerPadding: 20;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #ffffff;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #fff;
$burgerActiveColor: #fff;